@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;800&display=swap');

:root {
    /* COLORS */
    --primary-backgroundcolor: #55705A;
    --primary-color:  #E48873;
    --secondary-color: #ECDCCB;
    --text-color: #2B2119;
    /* SIZES */
    --header-size: 2rem;
    --text-size: 1rem;
    --small-text-size: .8rem;
    --big-text-size: 5rem;
    /* ROUNDNESS */
    --big-roundness: 8px;
    --xs-roundness: 4px;
    /* BOX-SHADOW */
    --box-shadow: rgba(0, 0, 0, 0.5);
}
*{
    font-family: Nunito;

}
body {
    height: 100%;
    background-color: var(--primary-backgroundcolor);
    color: var(--secondary-color);
}
.navbar-brand{
    font-weight: bolder;
    color: var(--secondary-color);
}
.navbar-brand:hover{
    font-weight: bolder;
    color: var(--text-color);
}
.icons-container {
    display: flex;
    gap: 1rem; 
    align-items: baseline;
    cursor: pointer;
  }
.fa-wand-magic:hover, .fa-book:hover {
    color: var(--text-color);
  }
.main-content{
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border:  1px solid var(--secondary-color);
    border-radius: var(--big-roundness);
   
}
.time-text{
    justify-content: center;
    display: flex;
}
.time-text p {
    font-size: var(--big-text-size);
    font-weight: bolder;
    color: var(--secondary-color);
}
.button-mode {
    justify-content: center;
    display: flex;
}
.btx{
    justify-content: space-between;
    border: none;
    color: var(--secondary-color);
    
    
}
.btn:hover{
    background-color: var(--text-color);
}
.btn-sm {
    border: none;
    color: var(--text-color);
}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.btn-sm {
    border: none;
    color: var(--text-color);
}
.btn-sm:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.button-action {
    display: flex;
    justify-content: center;
}
.btn-sm:active {
    background-color: var(--secondary-color)!important;
    color: var(--text-color)!important;
}
.btn:active {
    background-color: var(--secondary-color)!important;
    color: var(--text-color)!important;
}
footer {
    display: flex; 
    justify-content: center; 
    margin-top: 60px; 
    flex-direction: column; 
    align-items: center
}
a {
    color: var(--secondary-color);
}
a:hover, i:hover {
    color: var(--text-color);
}

/*About Page*/
.guide-book {
    
    padding: 10px;
    text-align: justify;
    
}
.guide-book h1{
    margin-bottom: 20px;    
    font-weight: bold;
    font-size: var(--text-size);
    color: var(--primary-color);
}
.guide-book a{
    color: var(--text-color);
}

/*Task Manager*/
.h4{
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 600;
}
.task-manager .card {
    border:  1px solid var(--secondary-color);
}

.task-btn:active {
    background-color: var(--text-color)!important;
    color: var(--secondary-color)!important;
}

.task-manager .card-header {
    border:none;
    color: white; /* Ensure text is readable */
}
hr {
    border: 1.5px solid var(--secondary-color);
}
.btx-task {
    color: red;
    font-weight: bold;
}
